body {
    background-image: url('/res/bg.png');
    background-size: cover;
    background-position: center;
    background-size: 160%;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 160%;
    color: #16DB65;
    background-color: #020202;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    animation: parallax 25s infinite ease-in-out;
    user-select: none;
      -moz-user-select: none; 
      -ms-user-select: none;
      -webkit-user-select: none; 
}

nav {
    padding: 0.2%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    background-color: #0D2818;
}

nav a {
    color: #16DB65;
    margin: 0 0.75%;
    text-decoration: none;
    float: right;
}

#contentContainer {
    background-color: #020202;
}

button {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    position: absolute;
    left: 1%;
    background-color: #0D2818;
    color: #16DB65;
    padding: 0%;
    border: none;
    cursor: pointer;
}

a {
    color: #16DB65;
}

a:hover {
    color: #275e2b;
}

#header {
    padding-left: 15%;
    padding-top: 3%;
    font-size: 320%;
    position: absolute;
}

@keyframes parallax {
    0% { background-position: 45% 0%; }
    25% { background-position: 50% 5%; }
    50% { background-position: 45% 0%; }
    75% { background-position: 40% 5%; }
    100% { background-position: 45% 0%; }
}

#desc1 {
    padding-top: 9%;
    padding-left: 6%;
    font-size: 200%;
    position: absolute; 
    overflow: hidden; 
    line-height: 1; 
    word-wrap: break-word;
    max-width: 45%;
}

#skills {
    padding-top: 23%;
    text-align: center;
    font-size: 200%;
    white-space: nowrap; 
    overflow: hidden; 
    line-height: 1; 
}

#skillset {
    text-align: center;
    font-size: 200%;
    white-space: nowrap; 
    overflow: hidden; 
    line-height: 1; 
}

#pixelPerson {
    width: 26%;
    height: 51%;
    padding-left: 65%;
    padding-top: 3%;
    position: absolute;
}

.skillSetImages {
    text-align: center;
}

.skillProgramsImages {
    text-align: center;
}

.image {
    cursor: pointer;
    transition: transform 0.2s; 
}

.image:hover {
    transform: scale(1.05); 
}

footer {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #16DB65;
    padding: 0.5% 0;
    padding-left: 4%;
}