body {
    
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 160%;
    color: #16DB65;
    background-color: #020202;
    margin: 0;
    padding: 0; 
}

nav {
    padding: 0.2%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    background-color: #0D2818;
}

nav a {
    color: #16DB65;
    margin: 0 0.75%;
    text-decoration: none;
    float: right;
}

nav a:hover {
    text-decoration: underline;
}

#contentContainer {
    background-color: #020202;
}

button {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    position: absolute;
    left: 1%;
    background-color: #0D2818;
    color: #16DB65;
    padding: 0%;
    border: none;
    cursor: pointer;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

#name {
    padding-left: 12%;
    padding-top: 13%;
    font-size: 320%;
    position: absolute;
}

#title {
    padding-top: 18%;
    padding-left: 15%;
    font-size: 260%;
    position: absolute;
}

#intro {
    padding-top: 45%;
    text-align: center;
}

#st {
    text-align: center;
}
