body {
    background-image: url('/res/bg.png');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
    background-size: 160%;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 160%;
    color: #16DB65;
    background-color: #020202;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    animation: parallax 25s infinite ease-in-out;
}

nav {
    padding: 0.2%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    background-color: #0D2818;
}

nav a {
    color: #16DB65;
    margin: 0 0.75%;
    text-decoration: none;
    float: right;
}

nav a:hover {
    text-decoration: underline;
}

#contentContainer {
    background-color: #020202;
}

button {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    position: absolute;
    left: 1%;
    background-color: #0D2818;
    color: #16DB65;
    padding: 0%;
    border: none;
    cursor: pointer;
}

a {
    color: #16DB65;
}

a:hover {
    color: #0056b3;
}

#name {
    padding-left: 12%;
    padding-top: 13%;
    font-size: 320%;
    position: absolute;
}

#title {
    padding-top: 18%;
    padding-left: 15%;
    font-size: 260%;
    position: absolute;
}

#intro {
    padding-top: 45%;
    text-align: center;
}

#st {
    text-align: center;
}

#pixelComp {
    width: 400px;
    height: 400px;
    padding-left: 65%;
    padding-top: 10%;
}

.image-container {
    position: relative;
    display: inline-block;
}


/* Style for the circle overlay */
.circle-overlay {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 200, 0, 0.5); /* Semi-transparent red color */
    width: 400px; /* Adjust the size of the circle */
    height: 400px; /* Adjust the size of the circle */
    border-radius: 50%; /* Ensure the overlay is a circle */
}

@keyframes parallax {
    0% { background-position: 45% 0%; }
    25% { background-position: 50% 25%; }
    50% { background-position: 45% 0%; }
    75% { background-position: 40% 25%; }
    100% { background-position: 45% 0%; }
}